@page "/User/Details/{Id:guid}"
@inject HttpClient Http
@inject NavigationManager NavigationManager

<h1>User @Id</h1>

@if (user != null)
{
    <h3>@nameof(user.Email)</h3>
    <p>@user.Email</p>
    <h3>@nameof(user.Name)</h3>
    <p>@user.Name</p>
    <h3>@nameof(user.Image)</h3>
    <img src="../userImages/@user.Image.Title" style="width:300px;height:300px" />

    <br />
    <a href="User/Edit/@user.Id" class="btn btn-outline-primary">Edit</a>
    <a href="User/Delete/@user.Id" class="btn btn-outline-danger">Delete</a>
    <a href="User" class="btn btn-outline-primary">Cancel</a>
}
else
{
    <h1>Loading...</h1>
}

@code {
    [Parameter]
    public Guid Id { get; set; }

    private UserDTO user;

    protected override async Task OnInitializedAsync() =>
        user = await GetUser();

    private async Task<UserDTO> GetUser()
    {
        return await Http.GetFromJsonAsync<UserDTO>($"api/AdminUser/{Id}");
    }
}
